.nav-word {
  color: rgb(190, 196, 201);
}

.index-img {
  height: 150px;
}

body {
  background-color: white;
}

.detail-img {
  height: 300px;
}

.profile-img {
  height: 150px;
}
